<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220819.143251" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.220819.143032" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net481" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.221129.150825" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.221104.132532" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.221209.141242" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.220826.15831" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.220825.155237" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.221126.72816" targetFramework="net481" />
  <!--<package id="nilnul._os_._LIB4FX_" version="1.0.221130.130108" targetFramework="net481" />-->
  <package id="nilnul._rel_._LIB_" version="1.2.220817.152548" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.221120.114651" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.221129.160511" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220905.105721" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220926.131208" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220818.53104" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>
