<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.240820.60235" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.240820.60236" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform" version="1.4.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.0" targetFramework="net481" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.11.1" targetFramework="net481" />
  <package id="MSTest.TestAdapter" version="3.6.0" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="3.6.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.240831.105350" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.240831.105202" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.240902.165128" targetFramework="net481" />
  <package id="nilnul._lang_._LIB_" version="1.1.240910.31540" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.240820.180030" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.240820.180032" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.240924.105449" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.240831.105626" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.240831.105511" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.240902.183156" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.240902.144719" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.240820.172116" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.240820.180817" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.240820.191858" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB4FX_" version="1.0.240820.181034" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.240828.111913" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.240820.181307" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.240907.121505" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="1.8.1" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>